body{
    background-image: url("../MEDIA/margherita.jpg");
}

#introduzione{
    background-color: green;
    text-align: left;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#contenuto{
    display: flex;
    margin-top: 1%;
}

#lista{
    background-color: white;
    margin-left: 1%;
    padding: 20px;
}

#paragrafi{
    background-color: white;
    padding-left: 1%;
    margin-left: 2%;
    padding: 20px;
}

#footer{
    background-color: green;
    text-align: center;
    margin-top: 2%;
    padding: 1%;
}
